









/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
/* header section */

/* css end */
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  



  @media (min-width: 320px) and (max-width: 480px) {

    
     /* **********************
  header section
  ************************/
  .bennar-section img {
        height: 800px;
        margin-left: 0px;
        position: relative;
        z-index: -5;
        opacity: 0.5;
        bottom: 500px;
}

.bennar-section .bnnr-heading .i {
  position: relative;
  bottom: 50px;
  left: 4%;
}

.bennar-section .bnnr-heading .btns {
  padding: 0px 10%;
}

.company-section .company-names ul {
  display: list-item;
}

.company-section .company-names ul li{
  margin: 10px 0px;
}

.company-section .company-names {
  padding: 75px 21% 20px;
}

.bennar-section .bnnr-heading h1 {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

.bennar-section .bnnr-heading p {
  font-size: 18px;
  padding-bottom: 10px;
  width: 100%;
  padding: 50px 0%;
}

.features .features-inner h4 {
  width: 100%;
}

.features .features-inner {
  margin-top: 40px;
  padding-left: 10%;
}

.features .features-img .f2 img {
  height: 100vh;
  width: 100%;
}

.features .features-img .f1 {
  position: absolute;
  margin-top: 80px;
}

.features .features-img .f1 img {
  height: 80vh;
  width: 100%;
}
.features .features-img {
  z-index: -4;
  opacity: 0.4;
}

.features .features-img .f2 {
  margin-left: 0px;
}

.features {
  margin-bottom: 100px;
}

.jackpots .j-heading h3 {
  width: 100%;
  text-align: center;
  margin-left: -15%;
  padding-bottom: 25px;
}

.design-section .design-inner {
  margin-top: 60px;
  text-align: center;
}

.design-section .design-inner h4 {
  width: 100%;
}

.design-section .design-inner p {
  width: 100%;
}

  .design-section .design-img img {
    margin-left: 0px;
    width: 100%;
}

.our-app .our-app-heading h4 {
  width: 100%;
  padding: 0%;
}

.our-app .our-app-heading p {
  width: 100%;
  padding: 0px;
}

.built-section .built-heading h4 {
  width: 100%;
}

.built-section .built-heading p {
  width: 100%;
}

.built-section .built-img .f1 img {
  height: 100vh;
  width: 100%;
}

.built-section .built-img .f2 img {
  height: 100vh;
  width: 100%;
}
.built-section .built-img {
  z-index: -3;
  opacity: 0.3;
  bottom: 1270px;
}

.built-section .built-img .f1 {
position: absolute;
  margin-top: 100px;
  margin-left: 0px;
}
  
.extra-charges .charges-heading h4 {
  padding: 0px;
}

.extra-charges .charges-heading p {
  padding: 25px 0%;
}

footer .footer-inner .ft-nav {
  padding: 40px 0% 25px 0%;
}


footer .footer-inner .ft-nav li a {
  margin: 6px;
}
  

/* ***********end************** */
}






 